// COLORS-----------------------------------------
$lightBlue: #65C0DA;
$marine: #349ab5;
$aqua: #2CBDC5;
$orange: #F09551;
$yellow: #FFD164;


// GENERAL-----------------------------------------
body{
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1280px;
    width:80%;
    margin: 0 auto;
    position: relative;
    display:flex;
}

ul{
    list-style: none;
    padding: 0;
    margin:0;
}

img{
    display:block;
    width:100%;
}


.mobile{
    display: none;
}

@media (min-width: 300px) and (max-width: 768px) {

    .mobile{
    display: block;
}

    .wrapper {
        width:90%;
    }
}