
header{
    height:100vh;
    width:100%;
}   

.homepage-header-title{
    margin-top:70px;
    width:55%;
    min-width:500px;
    #arrow-icon{
        margin-top:60px;
        width:50px;
    }

}
.homepage-header-image{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:45%;
}

@media (max-width: 1024px) {

    header .wrapper{
        flex-wrap: wrap;
    }
    .homepage-header-title, 
    .homepage-header-image {
        width:100%;
    }
    .homepage-header-title{
        position: absolute;
        z-index:2;
    }
    .homepage-header-image{
        width: 100%;
        opacity: .25;
        z-index: 1;
        &-container{
            max-width: 475px;
            margin: 0 auto;
        }
    }
}

// About ----------------------------------------------

.about-container{
    height:90vh;
    width:100%;
    display:flex;
    .about-image, .about-text{
        width:50%;
        height:100%;
    }
    .about-image{
        background: url("assets/office.jpg");
        background-position: bottom;
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .about-text{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:5%;
        background: black;
        color: white;
        h2, p{
            margin-bottom: 20px;
        }
        h3{
            margin-bottom:5px;
        }
        h4{
            color: grey;
        }
        p{
            line-height: 2;
        }
    }  
}
    .about-facts{
        display:flex;
    }
    .fact-item{
        width: calc((100% - 40px) / 3);
            margin-right: 20px;
        &:nth-of-type(3n){
            margin-right: 0;
        }
    }

@media (min-width: 300px) and (max-width: 1024px){
    .about-text h2{
        font-size: 3rem;
    }
}

@media (max-width: 767px){
    .about-container{
        position: relative;
        flex-wrap: wrap;
        .about-image, .about-text{
            width:100%;
            height:100%;
        }
        .about-text{
            position: absolute;
            padding: 10% 5%;

        }
    }
}

// Skills ----------------------------------------------

.skills{
    text-align: center;
    margin:100px 0 0px;
    .wrapper{
        padding: 0 5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    h2{
        margin-bottom: 40px;
    }
    p{
        font-size: 1.8rem;
        font-weight: 600;
    }
    figure{
        width:20%;
        min-width:120px;
        margin-bottom: 60px;
    }
    i{
        font-size: 6rem;
        color: $marine;
    }

}

.skills-logo{
    padding-bottom: 3px;
    margin:0 auto;
    width:60px;
    height:60px;
    margin-bottom: 25px;
}

// Portfolio ---------------------------------------
.portfolio{
    padding-top: 100px;
}

.portfolio .wrapper{
    display: block;
}

.portfolio-item-container{
    position: relative;
    width:100%;
    height:70vh;
    margin-bottom: 100px;
}

    .portfolio-img{
        width:70%;
        // min-width:400px;
        .portfolio-img-wrapper{
            width:100%;
            height: 350px;
            img{
                height:100%;
                object-fit: cover;
            }
        }
    }
    .portfolio-text{
        float: right;
        position: absolute;
        width: 70%;
        bottom:-100px;
        right:0;
        background: white;
        padding: 3%;
        h4, p, span, h5{
            padding-bottom:20px;
        }
        .portfolio-btns{
            height:20px;
        }
        a{
            border-bottom: 2px solid black;
            margin-right: 10px;
            &:hover{
                border-bottom: 2px solid $marine;
            }
        }
    }

.img-right{
    .portfolio-img{
        float: right;
    }
    .portfolio-text{
        float: left;
        left:0;
        text-align:right;
    }
}

@media (max-width: 767px){

    .portfolio-item-container{
         height:80vh;
         margin-bottom: 20px;
    }

    .portfolio-img{
        width:100%;
    }
    .img-right{
        .portfolio-text{
        text-align: left;
        }
}
    .portfolio-text {
        position: absolute;
        width: 90%;
        bottom: -150px;
        right: 0;
        padding: 5%;
        margin: 0 5%;

    }

}



// Footer ---------------------------------------

footer{
    background: black;
    height: 50vh;
    padding: 40px 0;
    display: flex;
    .wrapper{
        width: 50%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    h2, p{
        color: white;
    }
    p{
        opacity: .75;
    }
    .social i{
        opacity: .75;
        font-size: 2.2rem;
        color: white;
        padding-right: 20px;
        transition: .25s;
        &:hover{
            transform: scale(1.5);
            opacity: 1;
            
        }
    }
}

@media (max-width: 767px){

    footer{
        .wrapper{
            width: 90%;
        }
        h2{
            font-size: 2rem;
        }
    }
}










