nav {
  height: 70px;
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  .wrapper{
    justify-content: space-between;
  }
}

nav.active {
     box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); 
}

.logo{
  width: 200px;
  padding-top: 16px;
}

.menu-toggle{
  display: none;
}

.nav-links-desktop{
  padding: 25px 0;
  display: flex;
    li{
        padding-left: 20px;
    }
}

@media (max-width: 768px){

  .nav-links-desktop{
    display: none;
  }

  .menu-toggle{
    background: none;
    border:none;
    padding-top: 20px;
    display: block;
    &:hover{
      color:$marine;
    }
  }

  .menu-toggle i{
    font-size: 3rem;
  }




}
